node_modules
__tests__

.git
.git/**
.gitignore
.editorconfig
.jshintrc
.github
.github/**

package-lock.json
jest.config.js
jest.config.mjs
rollup.config.json
rollup.config.js

coverage.png
coverage

.tryouts

_OLD_
_OLD_/**

~DOCS~
~DOCS~/**

src
src/**
source
source/**

tsconfig.json
README.md
LICENCE
.eslintrc.json
