node_modules
__tests__

.git
.gitignore
.editorconfig
.jshintrc
.github

package-lock.json
jest.config.js
jest.config.mjs
rollup.config.json

coverage.png
coverage

.tryouts
.github

src
src/**
source
source/**

tsconfig.json
README.md
LICENCE
